
body {
      background-color:white;
      width:80%;
     }

h1 {
    margin:0;
    color:#800000;
    font-size:58;
   }

h5 {
    font-family:monospace;
    font-size:1.2em;
   }

div.main{
         position:relative;
         left:10%;
         width:100%;
        }
div.head{
      font-family:monospace;
      position:relative;
      left:20%;
      color:#7A6F72;
        }

div.site{
      font-family:"Times New Roman";
      font-size:1.2em;
      color:#3B3838;
      position:absolute;
      top:10px;
      width:75%;
      text-align:left;
     }

ul{
   list-style-type:none;
   margin:0;
   padding:0;
  }

a:link, a:visited {
                   font-family:monospace;
                   font-weight:bold;
                   text-decoration:none;
                   color:#3B3838;
                  }
a:hover, a:active {

                   font-family:monospace;
                   color:#800000;
                  }
                
div.navigation
     {
      color:#7A6F72;
      font-size:1.5em;
      font-family:monospace;
      position:absolute;
      top:30px;
      right:1px;
      width:10%;
     }
